<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Suma de datos</title>
  </head>
  <body>
    <form action="/" method="get">
      Ingrese el primer numero:
      <input type="number" name="num1" />
      <br />
      Ingrese el primer numero:
      <input type="number" name="num2" />
      <br />
      <input type="text" name="resultado" value="0" disabled="disabled" />
      <br />
      <input type="submit" value="Sumar" />
    </form>
  </body>
</html>